@model WritterVM
<br />
<div class="container">

    <div class="row mb-2">
        <div class="col-md-11">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h2>Yazar Bilgileri </h2>
                    <br />
                    <h3 class="mb-0"> Yazarımız:  @Model.UserFUllName </h3>
                    <div class="mb-1 text-muted"> Yazarımız @Model.UserCreatedDate.ToShortDateString() beri aramızda</div>
                    <p> Toplam Aktif Makale   :@Model.AritcleCount</p>

                </div>
                <div class="col-md-2 d-none d-lg-block" style="margin-top:10px;">
                    <img src="@Model.UserImage" width="150" height="200" />
                </div>
            </div>
        </div>
    </div>
</div>
