@model List<GetCategoryDTO>

<br />
<div class="row">
    <div class="card-text col-md-8 bg-info text-white text-center  offset-2 py-2 ">
        <h2> Kategori Listesi</h2>
    </div>
    <br />
    <div class="card col-md-8 offset-2">
        <br />
        <ul>
            @foreach (var category in Model)
            {
                <li>
                    <a asp-action="CategoryTop" asp-controller="Article" asp-area="Member" asp-route-id="@category.ID">@category.Name</a>
                </li>
            }
        </ul>
    </div>
</div>